.Calendar {
  display: inline-block; /* to adjust size based on children */
}

.Calendar-container {
  position: relative;
  box-sizing: border-box;
  background-color: #eeeeee;
}

.Calendar-event {
  position: absolute;
  box-sizing: border-box;
  width: 100%; /* by default */
  border: 1px solid blue; /* TODO */
}
